In [2]:
import pandas as pd

In [3]:
uni_information = pd.read_excel(r'./data/uni_information.xlsx')
OUT_ADMISSION_103_106 = pd.read_excel(r'./data/OUT_ADMISSION_103_106.xlsx')
OUT_ADMISSION_107_110 = pd.read_excel(r'./data/OUT_ADMISSION_107_110.xlsx')

In [4]:
uni_information

       ID  School_CODE School_NAME     DEPT_NAME     DEPT_TYPE AREA
0     675        19062        大同大學        工業設計學系       建築與設計學群   基北
1     674        19052        大同大學        化學工程學系          工程學群   基北
2     679        19102        大同大學        生物工程學系        生命科學學群   基北
3     678        19092        大同大學        材料工程學系          工程學群   基北
4     676        19072        大同大學        事業經營學系          管理學群   基北
...   ...          ...         ...           ...           ...  ...
1877  630        18232        靜宜大學  應用化學系(綠色能源組)         數理化學群  中彰投
1878  631        18242        靜宜大學  應用化學系(應用化學組)         數理化學群  中彰投
1879  632        18252        靜宜大學     應用化學系-類繁星         數理化學群  中彰投
1880  652        18452        靜宜大學        觀光事業學系  遊憩與運動學群,管理學群  中彰投
1881  653        18462        靜宜大學    觀光事業學系-類繁星  遊憩與運動學群,管理學群  中彰投

[1882 rows x 6 columns]

In [5]:
OUT_ADMISSION_103_106

,uni_school_name,department_name,education_code,ACADMYEAR,DEPT_TYPE,AREA
0,大同大學,工業設計學系,19062,103,NaN,NaN
1,大同大學,工業設計學系,19062,104,NaN,NaN
2,大同大學,工業設計學系,19062,105,NaN,NaN
3,大同大學,工業設計學系,19062,106,NaN,NaN
4,大同大學,化學工程學系,19052,103,NaN,NaN
...,...,...,...,...,...,...
4441,靜宜大學,觀光事業學系,18392,103,NaN,NaN
4442,靜宜大學,觀光事業學系,18392,106,NaN,NaN
4443,靜宜大學,觀光事業學系,18452,105,NaN,NaN
4444,靜宜大學,觀光事業學系-類繁星,18462,104,NaN,NaN
4445,靜宜大學,觀光事業學系-類繁星,18462,105,NaN,NaN

In [6]:
text = f'{uni_information["School_NAME"][0]} {uni_information["DEPT_NAME"][0]}'
text

'大同大學 工業設計學系'

In [7]:

for i in range(uni_information.shape[0]):
    for j in range(OUT_ADMISSION_103_106.shape[0]):
        if (uni_information['School_NAME'][i] == OUT_ADMISSION_103_106['uni_school_name'][j] and uni_information['DEPT_NAME'][i] == OUT_ADMISSION_103_106['department_name'][j]):
            OUT_ADMISSION_103_106['DEPT_TYPE'][j] = uni_information['DEPT_TYPE'][i]
            OUT_ADMISSION_103_106['AREA'][j] = uni_information['AREA'][i]
        else: j+=1

C:\Users\luke1\AppData\Local\Temp\ipykernel_17116\2073754490.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OUT_ADMISSION_103_106['DEPT_TYPE'][j] = uni_information['DEPT_TYPE'][i]
C:\Users\luke1\AppData\Local\Temp\ipykernel_17116\2073754490.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OUT_ADMISSION_103_106['AREA'][j] = uni_information['AREA'][i]

In [8]:

for i in range(uni_information.shape[0]):
    for j in range(OUT_ADMISSION_107_110.shape[0]):
        if (uni_information['School_NAME'][i] == OUT_ADMISSION_107_110['uni_school_name'][j] and uni_information['DEPT_NAME'][i] == OUT_ADMISSION_107_110['department_name'][j]):
            OUT_ADMISSION_107_110['DEPT_TYPE'][j] = uni_information['DEPT_TYPE'][i]
            OUT_ADMISSION_107_110['AREA'][j] = uni_information['AREA'][i]
        else: j+=1

C:\Users\luke1\AppData\Local\Temp\ipykernel_17116\922612591.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OUT_ADMISSION_107_110['DEPT_TYPE'][j] = uni_information['DEPT_TYPE'][i]
C:\Users\luke1\AppData\Local\Temp\ipykernel_17116\922612591.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OUT_ADMISSION_107_110['AREA'][j] = uni_information['AREA'][i]

In [9]:
OUT_ADMISSION_103_106

,uni_school_name,department_name,education_code,ACADMYEAR,DEPT_TYPE,AREA
0,大同大學,工業設計學系,19062,103,建築與設計學群,基北
1,大同大學,工業設計學系,19062,104,建築與設計學群,基北
2,大同大學,工業設計學系,19062,105,建築與設計學群,基北
3,大同大學,工業設計學系,19062,106,建築與設計學群,基北
4,大同大學,化學工程學系,19052,103,工程學群,基北
...,...,...,...,...,...,...
4441,靜宜大學,觀光事業學系,18392,103,"遊憩與運動學群,管理學群",中彰投
4442,靜宜大學,觀光事業學系,18392,106,"遊憩與運動學群,管理學群",中彰投
4443,靜宜大學,觀光事業學系,18452,105,"遊憩與運動學群,管理學群",中彰投
4444,靜宜大學,觀光事業學系-類繁星,18462,104,"遊憩與運動學群,管理學群",中彰投
4445,靜宜大學,觀光事業學系-類繁星,18462,105,"遊憩與運動學群,管理學群",中彰投

In [10]:
OUT_ADMISSION_107_110

,uni_school_name,department_name,education_code,ACADMYEAR,DEPT_TYPE,AREA
0,大同大學,工業設計學系,19092,110,建築與設計學群,基北
1,大同大學,資訊工程學系,19052,110,資訊學群,基北
2,大同大學,資訊經營學系,19072,110,"資訊學群,管理學群",基北
3,中山醫學大學,公共衛生學系,26182,110,醫藥衛生學群,中彰投
4,中山醫學大學,生物醫學科學學系,26072,110,生命科學學群,中彰投
...,...,...,...,...,...,...
1517,銘傳大學,商品設計學系（桃園）,46322,109,NaN,NaN
1518,銘傳大學,國際企業學系跨境電商經營組（臺北）,46102,109,NaN,NaN
1519,銘傳大學,會計學系會計審計組（臺北）,46042,109,NaN,NaN
1520,銘傳大學,資訊管理學系雲端技術管理組（桃園）,46482,109,NaN,NaN
1521,靜宜大學,資訊管理學系-類繁星組,18432,109,NaN,NaN

In [11]:
OUT_ADMISSION_103_106.to_excel("OUT_ADMISSION_103_106_fix.xlsx")

In [12]:
OUT_ADMISSION_107_110.to_excel("OUT_ADMISSION_107_110_fix.xlsx")